# Configure the OpenStack Provider
provider "openstack" {
    user_name  = ""
    tenant_name = ""
    password  = ""
    auth_url  = "https://auth.cloud.ovh.net/v2.0/"
}
resource "openstack_compute_keypair_v2" "gw" {
  region = ""
  name = "gw"
  public_key = ""
}

module "app" {
  source = "git::git@github.com:pilgrimstack/demo-pci-infra-as-code.git//terraform-modules/app?ref=v1.0"
  count = 4
  iplb = ""
  iplbbackend = ""
  application_key = ""
  application_secret = ""
  consumer_key = ""
  vlan_id = ""
}
